table.input {
    table-layout: fixed;
}

.button {
  color: #f40b17;
  background: #fdfbb4;
  font-size:18px;
  padding:5px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 10px;
  border: none;
  width: 100px;
  margin: 0;
  box-sizing: content-box;
}

.nav-button {
  color: #f40b17;
  font-size:28px;
  font-weight:normal;
  background: #fdfbb4;
  padding: 5px 20px;
  text-align:right;
  vertical-align: middle;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 10px;
  margin-right: auto;
}

.default-label {
    font-size: 20px;
    color: #02048d;
}

.default-input {
    display: block;
    width: 300px;
    padding: 8px 16px;
    font-size: 20px;
    border-radius: 6px;
    border: 1px solid #093e9a;
    background: #feffe0;
}

.small-input {
    width: 80px;
}

.medium-input {
    width: 150px;
}

.large-input {
    width: 400px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.label-input {
    display: flex;
    align-items: center;
}

.form-group {
    width: auto;
    min-width: 50px;
}

.total-field {
  background-color: #86fdc2;
}

.subtotal-field {
  background-color: #fdfbb4;
}

.balance-label {
  background-color: #fdfbb4;
}

.stack-header {
  display: flex;
  justify-content: end;
}

.stack-header > * {
  margin-right: 10px;
}
