table.input {
    table-layout: fixed;
}

.button {
  color: #f40b17;
  background: #fdfbb4;
  font-size:18px;
  padding:5px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 10px;
  border: none;
  width: 100px;
}

.default-label {
    font-size: 20px;
    color: #02048d;
}

.default-input {
    display: block;
    width: 300px;
    padding: 8px 16px;
    font-size: 20px;
    border-radius: 6px;
    border: 1px solid #093e9a;
    background: #feffe0;
}

.small-input {
    width: 80px;
}

.medium-input {
    width: 150px;
}

.large-input {
    width: 400px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.label-input {
    display: flex;
    align-items: center;
}

.form-group {
    width: auto;
    min-width: 50px;
}

