@import "input.css";
@import "table.css";
@import "sidebar.css";
@import "chart.css";

@font-face {
  font-family: Markazi;
  src: url(/__assets__/fonts/MarkaziText-VariableFont_wght.ttf);
}

body, div, input, select, h3 {
    font-family: Markazi
}

body {
  margin: 0px;
  background-color: #007070;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

div.main {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

div.content {
  width: 100%;
}

.large-text {
    font-size: 2em;
}

.hidden {
    visibility: hidden;
}

.undisplayed {
    display: none;
}
