@import "input.css";
@import "table.css";
@import "sidebar.css";

@font-face {
  font-family: default-font;
  src: url(/__assets__/fonts/Amiri-Regular.ttf);
}

body, div, input, button, select, h3 {
    font-family: default-font
}

body {
  margin: 0px;
  background-color: #03b0b0;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

div.main {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

div.content {
  width: 100%;
}

.large-text {
    font-size: 2em;
}

.hidden {
    visibility: hidden;
}

.undisplayed {
    display: none;
}
