@import "input.css";
@import "table.css";
@import "sidebar.css";
@import "chart.css";

body {
  margin: 0px;
  background-color: #007070;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

div.main {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

div.content {
  width: 100%;
}

.large-text {
    font-size: 2em;
}

.hidden {
    visibility: hidden;
}

.undisplayed {
    display: none;
}
