div.nav {
  width: 100%;
  margin-bottom: 2px;
  border-bottom: 5px solid black;
  background: #aaac53;
  display: flex;
  align-items: flex-start;
}

@media print {
  div.nav {
    display: none;
  }
}

div.nav ul {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  border-radius:3px;
  margin: 0px;
  padding:0px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  list-style-type: none;
}

div.nav ul li {
  border-right: 1px solid #040a7c;
  color: #052efa;
  font-size:28px;
  font-weight:normal;
  background: #86fdc2;
  padding: 5px 20px;
  text-align:right;
  vertical-align: middle;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
}

div.nav ul li:hover {
  background: #fafdc9;
  color: #062def;
}
 
div.nav ul li:first-child {
  border-right:none;
}

.dbname-label {
  color: #f40b17;
  background: #fdfbb4;
  font-size:28px;
  padding: 5px 20px;
  text-align: center;
  width: 200px;
}

div.nav ul.secondary {
  flex-direction: row-reverse;
  margin-right: auto;
}

div.nav ul.secondary li {
  color: #052efa;
  font-size:28px;
  font-weight:normal;
  text-align:right;
  vertical-align: middle;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  padding-right: 0;
  padding-left: 0;
  margin-right: 10px;
}

