div.nav {
  display: block;
  width: 200px;
  margin-left: 2px;
/*  border-right: 5px solid #C1C3D1;*/
  background: #fffca3;
}

div.nav ul {
  border-radius:3px;
  margin: 0px;
  padding:0px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  list-style-type: none;
}
  
div.nav ul li {
  border-top: 1px solid #040a7c;
  border-bottom: 1px solid #040a7c;
  color: #052efa;
  font-size:18px;
  font-weight:normal;
  background: #86fdc2;
  padding: 20px;
  text-align:right;
  vertical-align: middle;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 0px;
}

div.nav ul li:nth-child(odd) {
  background: #8affc4;
}

div.nav ul li:hover {
  background: #fafdc9;
  color: #062def;
  border-top: 1px solid #22262e;
}
 
div.nav ul li:first-child {
  border-top:none;
}

div.nav ul li:last-child {
  border-bottom: none;
}
